
<div class="wrapper gradient">
    <section id="cta" class="hoc container clear">

        <div class="sectiontitle">
            <h6 class="heading">interdum pulvinar aliquam</h6>
            <p>in urna proin luctus ligula eget mauris quisque congue malesuada</p>
        </div>
        <ul class="nospace clear">
            <li class="one_third first">
                <div class="block clear"><i class="fas fa-phone"></i> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span> </div>
            </li>
            <li class="one_third">
                <div class="block clear"><i class="fas fa-envelope"></i> <span><strong>Send us a mail:</strong> support@domain.com</span> </div>
            </li>
            <li class="one_third">
                <div class="block clear"><i class="fas fa-map-marker-alt"></i> <span><strong>Come visit us:</strong> Directions to <a href="#">our location</a></span> </div>
            </li>
        </ul>

    </section>
</div>

<div class="wrapper row4">
    <footer id="footer" class="hoc clear">

        <div class="one_third first">
            <h1 class="logoname"><span>Suro</span>gou</h1>
            <p class="btmspace-30">Sem nam et erat nec eros elementum gravida proin bibendum diam sed congue sagittis metus risus rutrum mauris sed euismod nisl purus vel leo phasellus nunc erat cursus aliquet [<a href="#">&hellip;</a>]</p>
            <ul class="faico clear">
                <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
                <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
            </ul>
        </div>
        <div class="one_third">
            <h6 class="heading">Massa hendrerit bibendum</h6>
            <ul class="nospace linklist">
                <li><a href="#">Tincidunt vel vulputate egestas</a></li>
                <li><a href="#">Leo sed porttitor accumsan arcu</a></li>
                <li><a href="#">Aenean ac urna et leo posuere</a></li>
                <li><a href="#">Pretium suspendisse ac elit ut</a></li>
            </ul>
        </div>
        <div class="one_third">
            <h6 class="heading">Etiam auctor dignissim</h6>
            <p class="nospace btmspace-15">Leo integer sem nisl mollis ut ornare eu lobortis eget ante mauris tempor.</p>
            <form method="post" action="#">
                <fieldset>
                    <legend>Newsletter:</legend>
                    <input class="btmspace-15" type="text" value="" placeholder="Name">
                    <input class="btmspace-15" type="text" value="" placeholder="Email">
                    <button type="submit" value="submit">Submit</button>
                </fieldset>
            </form>
        </div>

    </footer>
</div>

