<div class="wrapper row0">
    <div id="topbar" class="hoc clear">
        <div class="fl_left">
            <ul class="nospace">

                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "Index", "About")</li>
                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                <li><a href="Home/Index">Login</a></li>
                <li><a href="~/images/demo/backgrounds/01.png">Register</a></li>
            </ul>
        </div>


        <div class="fl_right">
            <ul class="nospace">
                <li><i class="fas fa-phone rgtspace-5"></i> +00 (123) 456 7890</li>
                <li><i class="fas fa-envelope rgtspace-5"></i> info@domain.com</li>
            </ul>
        </div>
    </div>
</div>

